body {
    font-family: sans-serif;
}

header{
    background-color: #DDB4B4;
}

header img {
    width: 889px;
    height: 75px;
    padding: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    color: royalblue;
    font-size: 30px;
}

ol {
    font-size: 16px;
}

ul {
    font-size: 18px;
}

.home_robot{
    background-color: lightblue
    border-radius: 30px;
    padding: 20px;
    width: 220px;
}

h2 {
    border-bottom: 3px dashed navy;
    width: 210px;
}

footer {
    width: 889px;
    height: 106px;
    background-color: #928c8c;
}
