body {
    font-family: sans-serif;
}

header{
    background-color: #DDB4B4;
    padding: 10px;
}

header img{
    width: 189px;
    height: 75px;

}

ol {
    font-size: 16px;
}

ul {
    font-size: 18px;
}

    footer {
    background-color: #928c8c;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
    width: 889px;
    height: 106px;
}
